<div class="container">
    <div class="container">
        <button (click)="progressBar.start()">Start</button>
        <button (click)="progressBar.complete()">Complete</button>

        <div style="max-width: 50%; height: auto; margin: 25%; background-color: blue">
            <ng-progress #progressBar (started)="onStarted()" (completed)="onCompleted()"></ng-progress>
        </div>
    </div>

    <hr>

    <div class="container">
        <div *ngFor="let theme of themes"
            class="{{ theme.class }} col-xs-12 col-sm-6 col-md-4 col-lg-3"
            malihu-scrollbar [scrollbarOptions]="theme.options">
            <div *ngFor="let item of Arr" >
                {{item}}
            </div>
        </div>
    </div>
</div>
