@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

.container {
    max-height: 50vh;
}

div[malihu-scrollbar] {
    border: 8px solid red;
    border-radius: 10px;
    height: 50vh;
    line-height: 24px;
    max-height: 50vh;
    padding: 16px;
}
