/**
 * Follow the link below for instructions
 * http://manos.malihu.gr/jquery-custom-content-scroller/#styling-section
 **/

/*TODO: disable mCSB_draggerRail*/

.mCS-bezzera.mCSB_scrollTools_vertical {
  right: 0 !important;
  margin: 12px 0;
}

.mCustomScrollBox.mCS-bezzera + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-bezzera + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0;
  margin: 0 12px;
}

.mCS-dir-rtl > .mCSB_outside + .mCS-bezzera.mCSB_scrollTools_vertical {
  left: 0;
  right: auto;
}

.mCS-bezzera.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCS-bezzera.mCSB_scrollTools_vertical .mCSB_dragger {
  height: 50px;
}

.mCS-bezzera.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 50px;
}

.mCS-bezzera.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: #fff;
  background-color: rgba(255,255,255,0.2);
  filter: "alpha(opacity=20)";
  -ms-filter: "alpha(opacity=20)";
}

.mCS-bezzera.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-bezzera.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)";
}

/* customization */

.mCS-bezzera.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  border-radius: 0px;
}

.mCS-bezzera.mCSB_scrollTools_vertical {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mCS-bezzera.mCSB_outside > .mCSB_container {
  margin-right: 10px;
}
